body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

/* ---------------------- Login Screen ---------------------- */

#roseFireButton{
  display: block;
  margin: 60px auto;
  color: white;
  background: #800000;
  font-size: 1.1em;
  padding: 10px 30px;
  border-radius: 5px;
}
/* ---------------------- Login Screen ---------------------- */

/* ---------------------- Home ---------------------- */


#usersName{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
  #divisions{
      text-align: left;
      font-size: 1.5rem;
      font-weight: 300;
  }
  #usrdata{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
  }


  /* ---------------------- Left Side Navbar ---------------------- */

  
  /* ---------------------- Friends ---------------------- */

  #friend-list { 
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100%;
    background: #EEE;
    list-style-type: none;
  }
  
  .friend {
    width: 300px;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .friend img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .friend .name {
    font-size: 18px;
  }
  
  .friend.selected {
    background: #43A047;
    color: white;
  }
  
  .friend.selected img {
    border-color: white;
  }
  
  .friend:not(.selected):hover {
    background: #DDD;
  }



  